:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --backgroundcolor: rgb(250, 249, 247);
  --accentcolor: rgb(226, 226, 226);
  --fontcolor: rgb(36, 36, 36);
  --fonthover: rgb(224, 82, 0);

  background-color: var(--backgroundcolor);
  color: var(--fontcolor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(0.5em + 0.5vw);
}

main {
  max-width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 2rem auto;
  h1 {
    font-size: 1.5rem;
    font-variant: small-caps;
  }
  nav {
    ul {
      a {
        padding: 1rem;
        color: var(--fontcolor);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: var(--fonthover);
        }
      }
    }
  }
}

#skills-wrapper {
  display: flex;
  flex-direction: column;
  .skills-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    .skills-li {
      background-color: var(--accentcolor);
      padding: 0.5rem;
      border-radius: 15px;
    }
  }
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 2rem;
  .add-form {
    h2 {
      text-align: center;
      padding-top: 1rem;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
      justify-content: space-evenly;
      input,
      textarea {
        padding: 0.3rem 0;
        margin-top: -0.3rem;
      }
      #description {
        min-height: 3rem;
      }
    }
  }
  .project-card,
  .add-form {
    box-shadow: #00000075 0px 0px 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0rem;
    max-height: fit-content;
    overflow: hidden;
    .img-wrapper {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid var(--fontcolor);
      align-items: end;
      h2 {
        margin-bottom: 0;
      }
      .project-links {
        a {
          color: var(--fontcolor);
          font-size: 1.5rem;
          margin-left: 1rem;
          &:hover {
            color: var(--fonthover);
          }
        }
      }
    }
    .desc-wrapper {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 100%;
      margin: 0 auto;
      justify-content: space-between;
      .btn-wrapper {
        display: flex;
        .more-btn {
          margin: 1rem auto;
        }
        .delete-btn {
          width: 2.5rem;
          border-radius: 15px;
        }
      }
    }
  }
}

.project-tech {
  .tech-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    flex-wrap: wrap;
    gap: 0.3rem;
    li {
      font-size: 0.8rem;
      background-color: var(--accentcolor);
      padding: 0.4rem;
      border-radius: 15px;
    }
  }
}

.published-date {
  text-align: center;
  font-size: 0.7rem;
}

.form-tech {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  .form-tech-label {
    padding: 0.5rem;
  }
}
.private-box {
  padding-top: 0.5rem;
}

#contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.info-wrapper {
  background-color: var(--accentcolor);
  padding: 4rem 2rem;
  border-radius: 15px;
}

.message-form-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--accentcolor);
  padding: 4rem 2rem;
  border-radius: 15px;
  .msg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    label {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      input,
      textarea {
        font-size: 0.8rem;
      }
    }
  }
}

.email-btn,
.msg-btn {
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  border-radius: 15px;
  background-color: var(--accentcolor);
  &:hover {
    background-color: var(--fonthover);
    color: var(--backgroundcolor);
  }
}

.section-title {
  text-align: center;
  margin-top: 5rem;
  color: var(--fonthover);
}

.error-txt {
  color: red;
}

footer {
  text-align: center;
  padding: 5rem;
  margin-top: 5rem;
  background-color: var(--accentcolor);
}

.btn {
  width: 40%;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: var(--accentcolor);
  color: var(--fontcolor);
  font-size: 1rem;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: #00000075 0px 0px 6px 0px;
  &:hover {
    background-color: var(--fonthover);
    color: var(--backgroundcolor);
    text-decoration: underline;
  }
}

/* Breakpoints */
@media only screen and (min-width: 992px) {
  #content-wrapper {
    flex-direction: row;

    .project-card,
    .add-form {
      width: 40%;
    }
  }
  .form-tech {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1400px) {
  #content-wrapper {
    flex-direction: row;
    max-width: 70%;
    .project-card,
    .add-form {
      width: 30%;
    }
  }

  #contact-wrapper {
    flex-direction: row;
    gap: 5rem;
    align-items: stretch;
  }

  #skills-wrapper {
    .skills-list {
      margin: 0 auto;
    }
  }
}
